<a href="https://colab.research.google.com/github/betto08/aprendizagemdemaquina/blob/main/Aprend_de_Maquina_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('adult.data 2.csv')

In [ ]:
df.head(8)

   age         workclass  fnlwgt  ... hoursperweek  nativecountry result
0   39         State-gov   77516  ...           40  United-States  <=50K
1   50  Self-emp-not-inc   83311  ...           13  United-States  <=50K
2   38           Private  215646  ...           40  United-States  <=50K
3   53           Private  234721  ...           40  United-States  <=50K
4   28           Private  338409  ...           40           Cuba  <=50K
5   37           Private  284582  ...           40  United-States  <=50K
6   49           Private  160187  ...           16        Jamaica  <=50K
7   52  Self-emp-not-inc  209642  ...           45  United-States   >50K

[8 rows x 15 columns]

In [ ]:
df.shape

(32561, 15)

In [ ]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educationnum',
       'maritalstatus', 'occupation', 'relationship', 'race', 'sex',
       'capitalgain', 'capitalloss', 'hoursperweek', 'nativecountry',
       'result'],
      dtype='object')

# Pré-processamento

Excluindo atributo

In [ ]:
df.drop(['education'], axis=1, inplace=True)

In [ ]:
df.drop(['fnlwgt'], axis=1, inplace=True)

In [ ]:
df.head(10)

   age         workclass  educationnum  ... hoursperweek  nativecountry result
0   39         State-gov            13  ...           40  United-States  <=50K
1   50  Self-emp-not-inc            13  ...           13  United-States  <=50K
2   38           Private             9  ...           40  United-States  <=50K
3   53           Private             7  ...           40  United-States  <=50K
4   28           Private            13  ...           40           Cuba  <=50K
5   37           Private            14  ...           40  United-States  <=50K
6   49           Private             5  ...           16        Jamaica  <=50K
7   52  Self-emp-not-inc             9  ...           45  United-States   >50K
8   31           Private            14  ...           50  United-States   >50K
9   42           Private            13  ...           40  United-States   >50K

[10 rows x 13 columns]

In [ ]:
df.shape

(32561, 13)

Removendo os dados faltantes

In [ ]:
df['occupation'].unique()

array(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners',
       'Prof-specialty', 'Other-service', 'Sales', 'Craft-repair',
       'Transport-moving', 'Farming-fishing', 'Machine-op-inspct',
       'Tech-support', '?', 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'], dtype=object)

In [ ]:
df['occupation'].nunique()

15

In [ ]:
df_remove = df.loc[(df['occupation'] == '?')]

In [ ]:
df_remove

       age workclass  educationnum  ... hoursperweek  nativecountry result
27      54         ?            10  ...           60          South   >50K
61      32         ?             4  ...           40              ?  <=50K
69      25         ?            10  ...           40  United-States  <=50K
77      67         ?             6  ...            2  United-States  <=50K
106     17         ?             6  ...           32  United-States  <=50K
...    ...       ...           ...  ...          ...            ...    ...
32530   35         ?            13  ...           55  United-States   >50K
32531   30         ?            13  ...           99  United-States  <=50K
32539   71         ?            16  ...           10  United-States   >50K
32541   41         ?             9  ...           32  United-States  <=50K
32542   72         ?             9  ...           25  United-States  <=50K

[1843 rows x 13 columns]

In [ ]:
df = df.drop(df_remove.index)

In [ ]:
df['occupation'].nunique()

14

In [ ]:
df['nativecountry'].nunique()

42

In [ ]:
df_remover = df.loc[(df['nativecountry'] == '?')]

In [ ]:
df_remover

       age         workclass  educationnum  ... hoursperweek nativecountry result
14      40           Private            11  ...           40             ?   >50K
38      31           Private            10  ...           38             ?   >50K
51      18           Private             9  ...           30             ?  <=50K
93      30           Private             9  ...           35             ?  <=50K
245     56           Private             9  ...           35             ?  <=50K
...    ...               ...           ...  ...          ...           ...    ...
32413   45           Private             3  ...           40             ?  <=50K
32449   44      Self-emp-inc            14  ...           50             ?   >50K
32469   58      Self-emp-inc            16  ...           99             ?  <=50K
32492   42  Self-emp-not-inc             9  ...           50             ?  <=50K
32510   39           Private             9  ...           45             ?   >50K

[556 rows x 13 columns]

In [ ]:
df = df.drop(df_remover.index)

In [ ]:
df['nativecountry'].nunique()

41

Transformação de qualitativo em quantitativo

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 0 to 32560
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30162 non-null  int64
 1   workclass      30162 non-null  object
 2   educationnum   30162 non-null  int64
 3   maritalstatus  30162 non-null  object
 4   occupation     30162 non-null  object
 5   relationship   30162 non-null  object
 6   race           30162 non-null  object
 7   sex            30162 non-null  object
 8   capitalgain    30162 non-null  int64
 9   capitalloss    30162 non-null  int64
 10  hoursperweek   30162 non-null  int64
 11  nativecountry  30162 non-null  object
 12  result         30162 non-null  object
dtypes: int64(5), object(8)
memory usage: 3.2+ MB

In [ ]:
df['result'].unique()

array(['<=50K', '>50K'], dtype=object)

In [ ]:
df['result'] = df.result.map({'<=50K':2, '>50K':1})

In [ ]:
df['workclass'].unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', 'Self-emp-inc', 'Without-pay'], dtype=object)

In [ ]:
df['workclass'] = df.workclass.map({'State-gov':1, 'Self-emp-not-inc':2, 'Private':3, 'Federal-gov':4,
       'Local-gov':5, 'Self-emp-inc':6, 'Without-pay':7})

In [ ]:
df['maritalstatus'].unique()

array(['Never-married', 'Married-civ-spouse', 'Divorced',
       'Married-spouse-absent', 'Separated', 'Married-AF-spouse',
       'Widowed'], dtype=object)

In [ ]:
df['maritalstatus'] = df.maritalstatus.map({'Never-married':1, 'Married-civ-spouse':2, 'Divorced':3,
       'Married-spouse-absent':4, 'Separated':5, 'Married-AF-spouse':6,
       'Widowed':7})

In [ ]:
df['occupation'].unique()

array(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners',
       'Prof-specialty', 'Other-service', 'Sales', 'Transport-moving',
       'Farming-fishing', 'Machine-op-inspct', 'Tech-support',
       'Craft-repair', 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'], dtype=object)

In [ ]:
df['occupation'] = df.occupation.map({'Adm-clerical':1, 'Exec-managerial':2, 'Handlers-cleaners':3,
       'Prof-specialty':4, 'Other-service':5, 'Sales':6, 'Craft-repair':7,
       'Transport-moving':8, 'Farming-fishing':9, 'Machine-op-inspct':10,
       'Tech-support':11, 'Protective-serv':12, 'Armed-Forces':13,
       'Priv-house-serv':14})

In [ ]:
df['relationship'].unique()

array(['Not-in-family', 'Husband', 'Wife', 'Own-child', 'Unmarried',
       'Other-relative'], dtype=object)

In [ ]:
df['relationship'] = df.relationship.map({'Not-in-family':1, 'Husband':2, 'Wife':3, 'Own-child':4, 'Unmarried':5,
       'Other-relative':6})

In [ ]:
df['race'].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [ ]:
df['race'] = df.race.map({'White':1, 'Black':2, 'Asian-Pac-Islander':3, 'Amer-Indian-Eskimo':4,
       'Other':5})

In [ ]:
df['sex'].unique()

array(['Male', 'Female'], dtype=object)

In [ ]:
df['sex'] = df.sex.map({'Male':1, 'Female':2})

In [ ]:
df['nativecountry'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', 'Mexico',
       'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany', 'Iran',
       'Philippines', 'Poland', 'Columbia', 'Cambodia', 'Thailand',
       'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'Italy', 'China', 'South', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [ ]:
df['nativecountry'] = df.nativecountry.map({'United-States':1, 'Cuba':2, 'Jamaica':3, 'India':4, 'Mexico':5,
       'Puerto-Rico':6, 'Honduras':7, 'England':8, 'Canada':9, 'Germany':10, 'Iran':11,
       'Philippines':12, 'Poland':13, 'Columbia':14, 'Cambodia':15, 'Thailand':16,
       'Ecuador':17, 'Laos':18, 'Taiwan':19, 'Haiti':20, 'Portugal':21,
       'Dominican-Republic':22, 'El-Salvador':23, 'France':24, 'Guatemala':25,
       'Italy':26, 'China':27, 'South':28, 'Japan':29, 'Yugoslavia':30, 'Peru':31,
       'Outlying-US(Guam-USVI-etc)':32, 'Scotland':33, 'Trinadad&Tobago':34,
       'Greece':35, 'Nicaragua':36, 'Vietnam':37, 'Hong':38, 'Ireland':39, 'Hungary':40,
       'Holand-Netherlands':41})

In [ ]:
df.head(10)

   age  workclass  educationnum  ...  hoursperweek  nativecountry  result
0   39          1            13  ...            40              1       2
1   50          2            13  ...            13              1       2
2   38          3             9  ...            40              1       2
3   53          3             7  ...            40              1       2
4   28          3            13  ...            40              2       2
5   37          3            14  ...            40              1       2
6   49          3             5  ...            16              3       2
7   52          2             9  ...            45              1       1
8   31          3            14  ...            50              1       1
9   42          3            13  ...            40              1       1

[10 rows x 13 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 0 to 32560
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30162 non-null  int64
 1   workclass      30162 non-null  int64
 2   educationnum   30162 non-null  int64
 3   maritalstatus  30162 non-null  int64
 4   occupation     30162 non-null  int64
 5   relationship   30162 non-null  int64
 6   race           30162 non-null  int64
 7   sex            30162 non-null  int64
 8   capitalgain    30162 non-null  int64
 9   capitalloss    30162 non-null  int64
 10  hoursperweek   30162 non-null  int64
 11  nativecountry  30162 non-null  int64
 12  result         30162 non-null  int64
dtypes: int64(13)
memory usage: 3.2 MB